#foot{
  background-color:#303428;
  position: 'relative';
  color: white;
  width: 100%;
  text-align: center;
  height: 25px;
  font-size: 15px;
  margin-bottom: -20px;
  padding:5px !important;
  height: 20px;
  left: 0;
  bottom: 0;
  right: 0;
}