


#categBtn{
    background-color: #48637e;
    border-bottom: 5px solid #48637e;
    border-top: 5px solid #48637e;
    border-left: 5px solid #48637e;
    border-right: 5px solid #48637e;
    transform: skew(10deg);
    background-color: 50% transparent;
    color: white;
    margin: 2px;
    font-size: small;
    margin-bottom: 10px;
}

#categBtn:hover{
    background-color:transparent;
    color: #38383a;
}

h3{
    font-family: 'Shadows Into Light', cursive;
    text-decoration: underline;
}

#addItQ{
    background-color: transparent;
    color: black;
    border-bottom: 5px solid #48637e;
     border-top: 5px solid #48637e;
     border-left: 5px solid #48637e;
     border-right: 5px solid #48637e;
     margin-left: 7px;
     height: 35px;
     text-align:center;

     transform: skew(10deg);
 }
 
 #addItQ:hover{
     background-color: #48637e;
     border-bottom: 5px solid #48637e;
     border-top: 5px solid #48637e;
     border-left: 5px solid #48637e;
     border-right: 5px solid #48637e;
     height: 35px;
     text-align:center;
     transform: skew(10deg);
     color: white;
 }
 

 #addIt:hover{
    background-color: transparent;
    color: black;
    border-bottom: 5px solid #48637e;
     border-top: 5px solid #48637e;
     border-left: 5px solid #48637e;
     border-right: 5px solid #48637e;
     height: 35px;
     text-align:center;
     transform: skew(10deg);
     text-align: center;
     
 }

 #addIt{
     
    background-color: #48637e;
    border-bottom: 5px solid #48637e;
    border-top: 5px solid #48637e;
    border-left: 5px solid #48637e;
    border-right: 5px solid #48637e;
    height: 35px;
    text-align:center;
    transform: skew(10deg);
    margin-top: 5px;
}

#loading:hover{
    background-color: transparent;
    color: black;
    border-bottom: 5px solid #48637e;
     border-top: 5px solid #48637e;
     border-left: 5px solid #48637e;
     border-right: 5px solid #48637e;
     height: 35px;
     text-align:center;
     transform: skew(20deg);
     text-align: center;
 }

 #loading{
    background-color: #48637e;
    color: white;
    border-bottom: 5px solid #48637e;
    border-top: 5px solid #48637e;
    border-left: 5px solid #48637e;
    border-right: 5px solid #48637e;
    height: 35px;
    text-align:center;
    transform: skew(20deg);
    margin-top: 5px;
}