#removeIt{
    border-bottom: 5px solid #252532;
    border-top: 5px solid #252532;
    border-left: 5px solid #252532;
    border-right: 5px solid #252532;
    height: 40px;
    transform: skew(20deg);
    background-color: 50% transparent;
    color: white;
}

#removeIt:hover{
    background-color:transparent;
    color: #38383a;
}

#categBtn{
    border-bottom: 5px solid #252532;
    border-top: 5px solid #252532;
    border-left: 5px solid #252532;
    border-right: 5px solid #252532;
    height: 40px;
    transform: skew(20deg);
    background-color: 50% transparent;
    color: white;
}
