 #removeIt{
    border-bottom: 5px solid #252532;
    border-top: 5px solid #252532;
    border-left: 5px solid #252532;
    border-right: 5px solid #252532;
    height: 40px;
    transform: skew(20deg);
    background-color: 50% transparent;
    color: white;
}

#removeIt:hover{
    background-color:transparent;
    color: #38383a;
}

#editIt{
    border-bottom: 5px solid #252532;
    border-top: 5px solid #252532;
    border-left: 5px solid #252532;
    border-right: 5px solid #252532;
    height: 40px;
    transform: skew(20deg);
    background-color: 50% transparent;
    color: white;
}
#editIt:hover{
    background-color:transparent;
    color: #38383a;
} 

#whereTo{
    border-bottom: 2px solid #252532;
    border-top: 2px solid #252532;
    border-left: 2px solid #252532;
    border-right: 2px solid #252532;
    height: 40px;
    transform: skew(20deg);
    background-color: 50% transparent;
    color: white;
}

h2{
    font-family: 'Amatic SC', cursive;
    outline: white;
    color: black;
}

h3{
    font-family: 'Shadows Into Light', cursive;
}

#btns{
    background-color: #48637e;
    border-bottom: 1px solid #48637e;
    border-top: 1px solid #48637e;
    border-left: 1px solid #48637e;
    border-right: 1px solid #48637e;
    height: 35px;
    text-align:center;
    transform: skew(20deg);
}

#whereTo{
    color: black;
}
