.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #303428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar{
  display:flex;
  background-color: red;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

#sideBox{
  background-color: #303428;
  color: white;
}

.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: #ee0505;
  color: white;
}

.sidebar-list a{
  color: white;
  padding: 0;
}

.sidebar-route{ 
  flex: 1;
  padding: '00px'; 
}

.tripCards{
  display: flex;
  flex-wrap:wrap;   
}

.tripCard{
  margin:auto;
  margin-bottom:20px;
  padding: 20px;
  border-radius:20px;
}